{% extends 'base.html.twig' %}

{% block title %}BoutiqueECommerce index{% endblock %}

{% block body %}
    <h1>BoutiqueECommerce index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Article</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for boutique_e_commerce in boutique_e_commerces %}
            <tr>
                <td>{{ boutique_e_commerce.id }}</td>
                <td>{{ boutique_e_commerce.libelle }}</td>
                <td>{{ boutique_e_commerce.article }}</td>
                <td>
                    <a href="{{ path('admin_boutique_e_commerce_show', {'id': boutique_e_commerce.id}) }}">show</a>
                    <a href="{{ path('admin_boutique_e_commerce_edit', {'id': boutique_e_commerce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_boutique_e_commerce_new') }}">Create new</a>
{% endblock %}
